<!-- Navigation Bar -->
<div class="navbar">
  <h1>GradeBook Project</h1>
  <div class="info">
    <p>Title: Grading Digital Book For Exam</p>
    <p>Date: 01/05/2023</p>
    <p>Professor's Name: Sandeep Kaur.</p>
    <p>College: LPU</p>
    <p>Department: CSE</p>
    <p>Semester: 8<sup>th</sup></p>
    <p>Section: K19EF</p>
  </div>  
</div>

<!-- Context -->
<div class="container">
  <div class="main-block">

    <!-- Sorting Buttons -->
    <div class="sort">
      <mat-form-field appearance="fill" >
        <mat-label>Display Status</mat-label>
        <mat-select>
          <mat-option value="All" (onSelectionChange)="filterStudentsByOption($event)">All</mat-option>
          <mat-option value="Passed" (onSelectionChange)="filterStudentsByOption($event)">Pass</mat-option>
          <mat-option value="Failed" (onSelectionChange)="filterStudentsByOption($event)">Fail</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Search Student</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input />
      </mat-form-field>
    </div>
 
    <!-- Table -->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- Sr.No. Column -->
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Sr.No. </th>
              <td mat-cell *matCellDef="let row"> {{row.no}} </td>
            </ng-container>

            <!-- Students Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Student's Name</th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <!-- Registration Number Column -->
            <ng-container matColumnDef="ticket_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Reg.No.</th>
              <td mat-cell *matCellDef="let row"> {{row.ticket_number}} </td>
            </ng-container>

            <!-- Rating Grade Column -->
            <ng-container matColumnDef="rating_grade">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating Grade</th>
              <td mat-cell *matCellDef="let row"> {{row.rating_grade}} </td>
            </ng-container>

            <!-- Exam Grade Column -->
            <ng-container matColumnDef="exam_grade">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Exam Grade </th>
              <td mat-cell *matCellDef="let row"> {{row.exam_grade}} </td>
            </ng-container>

            <!-- Final Grade Column -->
            <ng-container matColumnDef="final_grade">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Final Grade </th>
              <td mat-cell *matCellDef="let row"> {{row.final_grade}} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Result</th>
              <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>

            <!-- Details Column -->
            <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Detail's</th>
              <td mat-cell *matCellDef="let row"> {{row.details}} <button mat-raised-button color="accent" (click)="openDialog('3000ms', '1500ms', row)">Details</button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'selectedRow': selectedRowIndex === row.no}"(click)="onRowClick(row)"></tr>

            <!-- no matching data found -->
            <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Data Not Found try Again..."{{input.value}}"</td>
          </tr>
        </table>
    </div>
</div>

<!-- statistics buttons -->
<div class="statistics-block">
    <mat-button-toggle-group  name="toggle" aria-label="Toggle Button" (change)="onStatisticsChange($event)">
        <mat-button-toggle   value="Show statistics" >Show Statistics</mat-button-toggle>
        <mat-button-toggle  value="Hide statistics">Hide Statistics</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-card *ngIf="is_statistics">
      <mat-card-content>
        <p>Options for Filter:</p>
        <mat-form-field appearance="fill" >
          <mat-label>Resultwise -</mat-label>
            <mat-select>
              <mat-option value="All" (onSelectionChange)="filterStudentsByOption($event)">All</mat-option>
              <mat-option value="Passed" (onSelectionChange)="filterStudentsByOption($event)">Pass</mat-option>
              <mat-option value="Failed" (onSelectionChange)="filterStudentsByOption($event)">Fail</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-list>
          <mat-list-item *ngFor="let student of filtered_student; let index=index">{{index + 1 }}.{{ student.name}}  - {{student.status}}</mat-list-item>
        </mat-list>

        <mat-form-field appearance="fill" >
          <mat-label>Gradewise -</mat-label>
          <mat-select>
            <mat-option [value]="opt" *ngFor="let opt of grade_count_opt" (onSelectionChange)="selectOptionByGrade($event)">{{opt}}</mat-option>
          </mat-select>
        </mat-form-field>

        <p>Students no. of these Grade: {{ count_student_by_grade}}</p> 
        <p>Average grade: {{average_grade}}</p>
        <p>Maximal grade: {{maximal_grade}}</p>
        <p>Minimal grade: {{minimal_grade}}</p>
        <p>Total No. of Students: {{total_student}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Footer and Signature -->
<div class="footer-block">
  <mat-toolbar color="primary" class="footer" >
      <div class="sign">
        <p>Signature</p>
        <p>Copyright © 2023 | Created with 🤍 by Vishal Hiwale.</p>
        <p>Date: 01/05/2023</p>
      </div>
  </mat-toolbar>
</div>
